//PRIMARIES
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan1: hsl(167,40%,24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan2: hsl(168, 34%, 41%);

//NEUTRALS
$des-blue1: hsl(212, 27%, 19%);
$gray-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%)