@import './colors';
@import './mixins';
*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body
{
    
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
}
.nav
{
    &__mobile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 85px;
        z-index: 100;
        padding: 2em 0;
        width: 90%;
        background-color: #fff;
        &::before
        {
            content: '';
            position: fixed;
            top: 60px;
            right: 5%;
            width: 50px;
            height: 50px;
            background-color: #fff;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
        &__link
        {
            margin: .8em 0;
            font-family: 'Barlow', sans-serif;
            color: $grayish-blue;
            text-decoration: none;
    
        }
        &__link:last-child
        {
            padding: 1em 2em;
            font-family: 'Fraunces', serif;
            font-size: 1.6rem;
            text-transform: uppercase;
            color: #000;
            background-color: $yellow; 
            border-radius: 30px;
        }
    &--hidden
    {
        display: none;
    }
    }
    &__desktop
    {
        display: none;
    }
}
.logo
{
    position: absolute;
    top: 25px;
    left: 20px;
}
.burger
{
    position: fixed;
    right: 10px;
    top: 15px;
    z-index: 50;
    padding: 1em;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
}
.header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100vh;
    background-image: url('../img/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    &__heading
    {
        position: absolute;
        top: 45%;
        transform: translateY(-100%);
        padding-top: 2em;
        color: #fff;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;
    }
    .arrow
    {
        position: absolute;
        top: 50%;
    }
}
.main
{
    .card
    {
        &__image
        {
            background-size: cover;
            background-position: center;
            &--first
            {
                height: 40vh;
                background-image: url('../img/mobile/image-transform.jpg');            
            }
            &--second
            {
                height: 40vh;
                background-image: url('../img/mobile/image-stand-out.jpg');
            }
        }
        &__content
        {
            position: relative;
            padding: 3em 1.5em 4em 1.5em;
            .heading
            {
                margin-bottom: .5em;
                font-size: 3.2rem;
                text-align: center;
            }
            .text
            {
                margin-bottom: 1.2em;
                font-family: 'Barlow', sans-serif;
                text-align: center;
                line-height: 26px;
                color: rgb(126, 126, 126)
            }
        }
        &__full
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2em 1em;
            height: 85vh;
            background-size: cover;
            background-position-x: center;
            &--first
            {
                background-image: url('../img/mobile/image-graphic-design.jpg');
            }
            &--second
            {
                background-image: url('../img/mobile/image-photography.jpg');
            }
            .heading, .text
            {
                text-align: center;
            }
            .heading
            {
                margin: 1em 0;
                &--design
                {
                    color: $dark-cyan1;
                }
                &--photo
                {
                    color: $dark-blue
                }
            }
            .text
            {
                font-family: 'Barlow', sans-serif;
                font-size: 1.6rem;
                line-height: 25px;
                &--design
                {
                    color: $dark-cyan1;
                }
                &--photo
                {
                    color: $dark-blue
                }
            }
        }
    }
}
.testimonials
{
    padding: 2em 1em;
    &__heading
    {
        margin: .5em;
        font-size: 1.7rem;
        color: $grayish-blue;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}
.testimonial
{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    &__img
    {
        margin-bottom: 2em;
        align-self: center;
        width: 85px;
        border-radius: 50%;
    }
    &__text
    {
        padding-bottom: 1.8em;
        font-family: 'Barlow', sans-serif; 
        color: $gray-blue;
        line-height: 28px;
    }
    &__name, &__title, &__text
    {
        text-align: center;
    }
    &__title
    {
        font-family: 'Barlow', sans-serif; 
        color: $grayish-blue;
    }
}
.gallery
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &__img
    {
        width: 100%;
        height: 30vh;
        &--first
        {
            @include galleryImage('../img/mobile/image-gallery-milkbottles.jpg');
        }
        &--second
        {
            @include galleryImage('../img/mobile/image-gallery-orange.jpg');
        }
        &--third
        {
            @include galleryImage('../img/mobile/image-gallery-cone.jpg');
        }
        &--fourth
        {
            @include galleryImage('../img/mobile/image-gallery-sugar-cubes.jpg');
        }
    }
}
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
   background-color: $light-cyan; 
   &__heading
   {
       margin-bottom: 1em;
   }
   &__links
   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .link
    {
        color: $dark-cyan2;
        font-family: 'Barlow', sans-serif; 
        text-decoration: none;
    }
   }
   &__socials
   {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4em;
    padding-bottom: 1.5em;
    .fab
    {
        font-size: 2.5rem;
        margin: 0 .5em;
        text-decoration: none;
        color: $dark-cyan1;
    }
   }
}
.learn
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.6rem;
}
.learn::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 10px;
    z-index: -10;
    width: 100%;
    transform: scaleX(1.1);
    background-color: $yellow;
    opacity: .4;
    border-radius: 8px;
    transition: opacity .3s;
}
.learn--red::after
{
    background-color: $soft-red;
}
.learn:hover::after
{
    opacity: 1;
}
@import './large';